@import '../../assets/sass/main.scss';

.navbar-search{
    background: $YELLOW;
    height: 60px;

    &__wrapper{
        width: $CONTAINER_LG_WIDTH;
        margin: 0 auto;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__image{
        flex: 1;
        display: flex;
        justify-content: flex-end;
        img{
            max-height: 38px;
            margin-right: 20px;
            cursor: pointer;
        }
    }

    &__form{
        &__wrapper{
            flex: 5;
            margin-right: 10%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;;
        
        &__input{
            flex: 1;
            box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
            height: 39px;
            padding: 7px 60px 9px 15px;
            border-radius: 2px;
            background-color: #fff;
            border: 0 rgba(0,0,0,.2);
            box-sizing: border-box;
            border: solid 1px transparent;

            &.error{
                border: solid 1px $RED_1;
            }
        }

        &__btn{
            border-radius: 0 2px 2px 0;
            width: 46px;
            height: 39px;
            border: 0 rgba(0,0,0,.2);
            background-color: #fff;
            box-shadow: 2px 2px 2px 0 rgba(0,0,0,.2);
            top: 8px;
            right: 1px;
            cursor: pointer;

            &::before{
                content: '';
                display: block;
                height: 26px;
                border-left: 1px solid #e6e6e6;
                position: absolute;
                top: 17px;
                margin-left: -7px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &__icon{
                max-height: 16px;
                padding-top: 2px;
            }
        }

    }
}