.notification{
    display: flex;
    align-items: center;
    padding: 30px;
    margin: 0 calc(100% / 12);
    max-width: 1200px;

    img{
        max-width: 100px;
        width: auto;
        height: auto;
        margin-right: 20px;
    }

    h2{
        font-size: 20px;
        color: #666;
    }
}