@import '../../assets/sass/main.scss';

.product-detail{
    background: white;
    border-radius: 4px;
    &__wrapper{
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    &__image{
        flex: 2;
        height: 60vh;
        min-height: 420px;
        max-height: 500px;
        padding: 16px;
        padding-left: calc(100% / 12);
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            height: auto;
            width: auto;
            min-width: 200px;
            min-height: 200px;
            max-width: 500px;
            max-height: 100%;
        }
    } 
    
    &__add_to_cart{
        flex: 1;
        height: 55vh;
        min-height: 420px;
        max-height: 500px;
        &__wrapper{
            width: 78%;
        }
    }

    &__is-new{
        font-size: 16px;
        margin-top: 32px;
        margin-bottom: 16px;
        font-weight: 100;
        letter-spacing: -0.5px;
        color: $GRAY_3;
        display: flex;
        align-items: center;

        img{
            margin-left: 10px;
        }
    }

    &__title{
        font-size: 24px;
        margin-top: 0px;
        margin-bottom: 32px;
        font-weight: normal;
        letter-spacing: 0px;
        color: $GRAY_3;
    }

    &__price{
        font-size: 46px;
        margin-top: 0px;
        margin-bottom: 32px;
        font-weight: normal;
        margin-right: 25%;
        letter-spacing: 0px;
        color: $GRAY_3;
    }

    .btn-primary{
        background: $BLUE_2;
        font-size: 16px;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 4px;
        min-width: 150px;
        width: 100%;
        transition: ease-in-out all 0.5s;

        &:hover{
            background: darken($BLUE_2, 20%);
        }

        &.product-detail{
            width: calc(100% - 32px);
        }
    }

    &__description{
        padding: 32px;
        padding-right: calc(100% / 3);
        &__title{
            font-size: 28px;
            font-weight: bolder;
            margin-bottom: 32px;
            color: $GRAY_3;
        }
        &__content{
            font-size: 16px;
            font-weight: 100;
            color: $GRAY_9;
        }
    }
}