@import '../../../assets/sass/main.scss';

.tooltip{
    position: relative;
    overflow: hidden;
    
    &__title{
        position: absolute;
        background: $GREEN_1;
        color: white;
        text-transform: uppercase;
        top: -10px;
        left: 10px;
        border: solid 1px white;
        box-shadow: 0 0 5px $GRAY_9;
        border-radius: 5px 5px 5px 0;
        width: auto;
        min-width: 150px;
        text-align: center;
        padding: 3px;
        opacity: 0;
        z-index: 0;
        transition: ease-in-out all 0.5s;
        font-size: 14px;
    }

    &:hover{
        overflow: inherit;
        .tooltip__title{
            top: -20px;
            left: 20px;
            z-index: 10;
            opacity: 1;
        }
    }
}