@import '../../assets/sass/main.scss';

.catalog-page{
    min-height: 100vh;
    background: #ededed;

    &__wrapper{
        min-height: 60vh;
        width: $CONTAINER_LG_WIDTH;
        margin: 0 auto;
    }
}