@import '../../assets/sass/main.scss';

.breadcrum{
    padding-left: calc(100% / 12);
    &__list{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        list-style: none;
        padding: 0;
    }
    
    &__item{
        margin-right: 25px;
        position: relative;
        
        &:not(:first-child){

            &::before{
                content: '>';
                display: block;
                height: 26px;
                position: absolute;
                top: -3px;
                margin-left: -16px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        span{
            color: $GRAY_3;
            font-size: 14px;
            padding: 16px 0;
            font-weight: 700;
            cursor: pointer;
        }
    }
    
}