$YELLOW: #FFE600;
$GRAY_E: #EEEEEE;
$GRAY_9: #999999;
$GRAY_6: #666666;
$GRAY_3: #333333;
$GREEN_1: #1ed760;
$BLUE_1: #0178d4;
$BLUE_2: #3483FA;
$RED_1: #d90000;


$CONTAINER_LG_WIDTH: 1200px;

*:focus {
    outline: none;
}

*{
    font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
}

body{
    margin: 0 !important;
    padding: 0 !important;
}