@import '../../assets/sass/main.scss';

.product-card{

    padding: 16px;
    background: white;
    min-height: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: ease-in-out all 0.5s;
    cursor: pointer;

    &:hover{
        background: $GRAY_E;
    }

    &__image{
        height: 180px;
        width: 180px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        margin: 16px;
        border-radius: 4px;
        position: relative;
        overflow: hidden;
        max-width: 250px;
        max-height: 250px;
        min-width: 180px;
        min-height: 180px;

        &__hover{
            position: absolute;
            z-index: 0;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: scale(1);
            opacity: 0;
            transition: ease-in-out all 0.5s;
            border-radius: 6px;
            max-width: 260px;
            max-height: 260px;
            background: white;

            
            img{
                max-width: 100%;
                max-height: 100%;
                width: auto;
                height: auto;
            }
        }
        
        &:hover{
            overflow: inherit;
            .product-card__image__hover{
                position: absolute;
                z-index: 10;
                box-shadow: 0 0 5px #aaa;
                top: 0;
                left: 0;
                transform: scale(1.3);
                opacity: 1;
            }
        }
    }

    &__details{
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &--left{
            flex: 2;

            .price{
                font-size: 20px;
                font-weight: bolder;
                margin-bottom: 32px;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                img{
                    margin-left: 10px;
                }
            }

            .title{
                font-size: 20px;
                font-weight: 100;
                margin-right: 33%;
            }
        }
        &--right{
            flex: 1;

            .city{
                font-size: 12px;
                color: $GRAY_6;
            }
        }
    }

}